{% extends 'base.html' %}

{% block content %}
<h2>My Orders</h2>

{% for order in orders %}
<div class="card mb-3 p-3">
    <h5>Order ID: {{ order.id }}</h5>
    <p>Total: ₹{{ order.total_price }}</p>
    <p>
        Status: 
        <span class="badge 
            {% if order.status == 'Paid' %} bg-success
            {% elif order.status == 'Pending' %} bg-warning
            {% endif %}
            ">
            {{ order.status }}
        </span>
    </p>
    <p>Date: {{ order.created_at }}</p>
</div>
{% endfor %}

{% endblock %}